.RecordTitle{
    text-align: center;
    color: green;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.MainContent{
    background-color: azure;
    border-radius: 6px;
    padding: 12px 24px;
    margin: 5px 0px;
    pointer-events: none;
    text-decoration-style: solid;
    user-select: none;
}
.PrescriptionTitle{
    color: darkblue;
    white-space: pre;
    margin-left: 75px;
}
.row{
    margin: 5px 0px;
}
.col{
    float: left;
    width: 33.33%;
    margin: 0px 75px;
}
.RecordComponent{
    margin-left: 10px;
}